<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>{{PAGE_TITLE}}</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <meta name="theme-color" content="#fff">
</head>
<body class="bg-gray-100">

  <div id="main-body">
    <div class="pt-4 mx-2 max-w-sm sm:max-w-lg sm:mx-auto">
      <img src="/images/my_fitness_tracker_326x175.png" alt="Company Logo" class="">
      {{#if user}}
      <ul>
        <li class="menuitem inline">
        <a href="/" class="text-blue-500">Home</a>
        </li>
      {{#if user.terms.order}}
      <li class="menuitem inline">
          <a href="/shop" class="text-blue-500">Shop</a>
      </li>
      {{/if}}
      <li class="menuitem inline"><a href="/terms" class="text-blue-500">Data Privacy and Consent</a></li>
      <li class="menuitem inline"><a href="/oidc/logout" class="text-blue-500">Logout</a></li>
      </ul>
      {{/if}}
      {{#if user.terms.telemetry}}
      <p class="text-gray-600 text-xs">
          We are gathering app telemetry based on your preferences and consent.
      </p>
      {{/if}}
      <div class="pt-6">
      {{{body}}}
      </div>
    </div>
  </div>
  
</body>
</html>
