<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>{{PAGE_TITLE}}</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <meta name="theme-color" content="#fff">
</head>
<body class="bg-gray-100">

  <div id="main-body">
    <div class="pt-4 mx-2 max-w-sm sm:max-w-lg sm:mx-auto">
      <img src="/images/my_fitness_tracker_326x175.png" alt="Company Logo" class="">
      {{#if user}}
      <a href="/oidc/logout" class="text-blue-500">Logout</a>
      {{/if}}
      <div class="pt-6">
      {{{body}}}
      </div>
    </div>
  </div>
  
</body>
</html>
