<h1 class="text-gray-900 font-bold text-xl">Data Privacy and Consent</h1>
<div class="text-gray-900 text-sm">
    <p class="pt-4">
        At My Fitness Tracker we respect your privacy and your rights to control your own data 
        but we do have certain terms you must accept in order to do business with us. Below you'll 
        see a number of areas where you can <span class="text-blue-500">Opt In</span> or <span class="text-blue-500">Opt Out</span> bsaed on your preferences and 
        what it means.
    </p>
    <p class="pt-4">
        <input type="checkbox" name="order" id="order" {{#if order}}checked{{/if}}> <label for="order">Order</label>
    </p>
    <p>
        Order is required for you to order nutritional supplements, vitamings, branded apparal etc. 
        from the website. If you do not <span class="text-blue-500">Opt In</span> you cannot use 
        this part of the website. You may browse the catalog but not place an order online.
    </p>
    <p class="pt-4">
        <input type="checkbox" name="newsletter" id="newsletter" {{#if newsletter}}checked{{/if}}> <label for="newsletter">Newsletter</label>
    </p>
    <p>
        Our monthly newsletter is a great way for you to stay in the know. If you do not explicitly 
        <span class="text-blue-500">Opt In</span> we will not send anything but transactional emails.
    </p>
    <div class="grid grid-cols-2 pt-4 gap-3">
        <a href="#" id="btn_accept_all" class="bg-green-500 text-center text-white rounded-md p-2 uppercase">Accept All</a>
        <a href="#" id="btn_accept_selected" class="bg-green-500 text-center text-white rounded-md p-2 uppercase">Accept Selected</a>
        <a href="#" id="btn_decline" class="bg-red-500 text-center text-white rounded-md p-2 uppercase">Decline All</a>
    </div>
</div>
<script>
    const $ = id => document.getElementById(id);
    $("btn_decline").addEventListener("click", () => {
        if (confirm("Are you sure you wish to decline all?")) {
            document.location.href = "/consent/declineall";
        }
    })
    $("btn_accept_all").addEventListener("click", () => {
        document.location.href = `/consent/accept/true/true`;
    })
    $("btn_accept_selected").addEventListener("click", () => {
        const order = $("order").checked;
        const newsletter = $("newsletter").checked;
        document.location.href = `/consent/accept/${order}/${newsletter}`;
    })

    window.SalesforceConsentDemo.onTelemetryReady(() => {
        window.SalesforceConsentDemo.sendPageViewTelemetryEvent({
        pageName: "consent"
        })
    })
</script>

