
  <h1 class="font-extrabold text-gray-900 text-2xl pt-6">Produktkatalog - få GRATIS vareprøver</h1>
  <div class="grid sm:grid-cols-2 gap-4 pt-4">
    <div>
      <img src="/images/product_1.webp" alt="Tilbehør" class="h-40 rounded-md w-full object-cover">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Stomiposer og tilbehør</h2>
      <p class="text-gray-700 text-sm pt-2">
        Mennesker, som lever med stomi, har brug for at føle sig trygge i deres hverdag. Vores sortiment tilbyder en række innovative stomiposer og tilbehør, der hjælper mennesker med stomi til at føle sig trygge og sikre. Uanset hvor de er, og hvad de foretager sig.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Søg stomiposer/plader og tilbehør</a>
    </div>
    <div>
      <img src="/images/product_2.webp" alt="Tilbehør" class="h-40 rounded-md w-full object-cover">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Kontinens</h2>
      <p class="text-gray-700 text-sm pt-2">
        Hvis du har blære- og tarmproblemer, er der hjælp at få. Her kan du tjekke det store udvalg af katetre, urinposer, uridomer og tarmprodukter.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Søg blandt vores kontinensprodukter</a>
    </div>
    <div>
      <img src="/images/product_3.webp" alt="Tilbehør" class="h-40 rounded-md w-full object-cover">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Sårprodukter</h2>
      <p class="text-gray-700 text-sm pt-2">
        Vores sårsortiment tilbyder en bred vifte af løsninger af høj kvalitet, som giver optimal sårbehandling. Vores produktløsninger understøtter behandling af mange forskellige sårtyper, fra ikke-inficerede, inficerede eller smertefulde sår til lavt, moderat og kraftigt væskende sår.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Søg i sårprodukter</a>
    </div>
    <div>
      <img src="/images/product_4.webp" alt="Tilbehør" class="h-40 rounded-md w-full object-cover">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Urologiprodukter</h2>
      <p class="text-gray-700 text-sm pt-2">
        Coloplast Kirurgisk urologi fremstiller en serie kirurgiske anordninger til at hjælpe personer, som lider af urologiske tilstande som f.eks. erektil dysfunktion, urininkontinens, svage bækkenmuskler, nyresten og forstørret blærehalskirtel.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Søg i urologiprodukter</a>
    </div>
  </div>
