  <h1 class="font-extrabold text-gray-900 text-2xl pt-6">My Fitness Shop</h1>
  <div class="grid sm:grid-cols-2 gap-4 pt-4">
    <div>
      <img src="/images/cycle.png" alt="Cycle" class="w-20 h-20 rounded-md object-scale-down">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Bike</h2>
      <p class="text-gray-700 text-sm pt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum nulla in quam sagittis semper.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Search bikes</a>
    </div>
    <div>
      <img src="/images/cyclic.png" alt="Cyclic" class="w-20 h-20 rounded-md object-scale-down">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Crossfit</h2>
      <p class="text-gray-700 text-sm pt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta ante semper nisi aliquet vehicula.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Search crossfit</a>
    </div>
    <div>
      <img src="/images/dumbbell.png" alt="Dumbbells" class="w-20 h-20 rounded-md object-scale-down">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Dumbbells</h2>
      <p class="text-gray-700 text-sm pt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel eleifend risus. Proin non quam.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Search dumbbells</a>
    </div>
    <div>
      <img src="/images/scale.png" alt="Scale" class="w-20 h-20 rounded-md object-scale-down">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Scales</h2>
      <p class="text-gray-700 text-sm pt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et diam tristique, suscipit mi eu.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Search scales</a>
    </div>
    <div>
      <img src="/images/kettlebells.png" alt="Dumbbells" class="w-20 h-20 rounded-md object-scale-down">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Kettlebells</h2>
      <p class="text-gray-700 text-sm pt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum pharetra lectus id suscipit.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Search kettlebells</a>
    </div>
    <div>
      <img src="/images/mat.png" alt="Scale" class="w-20 h-20 rounded-md object-scale-down">
      <h2 class="text-xl text-gray-900 font-medium pt-4">Mats</h2>
      <p class="text-gray-700 text-sm pt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at condimentum augue. Ut tincidunt cursus.
      </p>
      <a href="#" class="text-blue-400 text-sm mt-6">Search mats</a>
    </div>
  </div>
