<div class="text-gray-900 text-sm">
    <p>
        You have not consented to the <span class="text-blue-500">My Fitness Tracker</span> App 
        gathring telemetry so we cannot provide you service. Please go to the <a href="{{portal}}">Preference Center</a> 
        and opt into the Terms of Service.
    </p>
</div>