<div class="text-gray-900 text-sm">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed orci ullamcorper, interdum lorem ut, mattis magna. Aenean ut lacus vitae nisl ullamcorper sodales. Integer a gravida justo. Duis luctus cursus erat non sodales. Pellentesque bibendum non ex id condimentum. Fusce malesuada diam sit amet faucibus euismod. Suspendisse laoreet nibh vitae ligula convallis lacinia. Aenean dapibus, est blandit accumsan efficitur, lorem nisl vulputate diam, sit amet tempor sapien ipsum in dui. Pellentesque eleifend, turpis eu lacinia congue, leo ipsum porttitor ipsum, non eleifend tortor ex ut risus. Nulla ornare metus convallis velit varius iaculis. Vestibulum sagittis pulvinar mi, id porttitor libero faucibus in.
    </p>
    <p class="pt-8">
        <a href="/oidc/login" class="bg-blue-500 text-white p-3 rounded-md w-96 uppercase text-center">authenticate</a>
    </p>
</div>