<div class="text-gray-900 text-sm">
    <p>
        Welcome to <span class="text-blue-500">My Fitness Tracker</span> - the <span class="text-blue-500">best</span> place to track 
        your fitness online. We provide a wide variety of fitness trackers and watches. Whether 
        you're a seasoned weight lifter, ultra-runner or just getting started this the place to 
        track your course and blaze your trails.
    </p>
    <p class="pt-4">
        <span class="text-blue-500">My Fitness Tracker</span> is the companion site to your fitness 
        tracker or watch. To use the service please authenticate.
    </p>
    <p class="pt-8">
        <a href="/oidc/login" class="bg-blue-500 text-white p-3 rounded-md w-96 uppercase text-center">authenticate</a>
    </p>
</div>